build
.DS_Store
*.mode1v3
*.tmproj
*.pbxuser
*.perspectivev3
tvclient.xcodeproj/project.xcworkspace/
tvclient.xcodeproj/xcuserdata/
tvclient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcuserdatad
*.xcworkspacedata
node_modules